body {
     background-color: bisque;
     font-size: xx-large;
}

h1 {
     text-align: center;
}

.content-wrapper {
     width: 850px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: auto;
}

.image {
     height: 390px; width: 500px;
}
