<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='index.css')}}">
</head>
<body>
     <div class="content-wrapper">
          <h1>Welcome!</h1>
          <div class="selection-wrapper">
               <p>Please enter a city or location to find a tasty meal</p>
               <p>Enter a type of food you would like to eat:</p>
               <p>(could be tacos, pizza, delis, etc.)</p>
          <p>****Functionality Under way for now please refresh the place to get a random food spot :) ******  </p>
          </div>
          <div>
               {% if name %}
               <p>The name of the place is {{name}}</p>
               {% endif %}
          </div>
          <div class="img-wrapper">
               {% if img_url %}
               <img class="image" src="{{ img_url }}" alt="res"/>
               {% endif %}
          </div>
          <div class="reviews-wrapper">
               <h3>See what others have rated this place</h3>
               {% if rating %}
               <p>One user rated this place a <b>{{rating}}</b> out of 5</p>
               {% endif %}
          </div>
          <p>Collaborators: Nason(Nate) Gray & Felix Hernandez</p>
     </div>
</body> 