<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='index.css')}}">
</head>
<body>
     <div class="content-wrapper">
          <h1>Welcome!</h1>
          <div class="selection-wrapper">
               <h1>A random place has been generated based on your input look below! </h1>
               <p>Please enter a city or location to find a tasty meal</p>
                    <form id="city-form" action="{{url_for('home')}}" method="post" onsubmit="">
                         <label for="city-name" class="dropdown-button">Enter City ...</label>
                         <div class="dropdown-content">
                              <input type="text" name="city" id="city" placeholder="e.g. Austin"/>
                         </div>
                         <p>Enter a type of food you would like to eat:</p>
                         <p>(could be tacos, pizza, delis, etc.)</p>
                         <label for="food-type" class="dropdown-button">Enter type of food ...</label>
                         <div class="dropdown-content">
                              <input type="text" id="food" name="food" placeholder="e.g. tacos, deli"/>
                         </div>
                         <button type="submit">Submit</button>
                    </form>
          </div>
          <div>
               {% if name %}
               <p>The name of the place is {{name}}</p>
               {% endif %}
          </div>
          <div class="img-wrapper">
               {% if img_url %}
               <img class="image" src="{{ img_url }}" alt="res"/>
               {% endif %}
          </div>
          <div class="reviews-wrapper">
               <h3>See what people have rated this place</h3>
               {% if rating %}
               <p>One user rated this place a <b>{{rating}}</b> out of 5</p>
               {% endif %}
          </div>
          <p>Collaborators: Nason(Nate) Gray & Felix Hernandez</p>
     </div>
</body> 